<nav class="menu">
    <a href="/" class="menu-item _active">Популярное</a>
    <a href="/category/1" class="menu-item">Категория 1</a>
    <a href="/category/2" class="menu-item">Категория 2</a>
    <a href="/category/3" class="menu-item">Категория 3</a>
    <a href="/category/4" class="menu-item">Категория 4</a>
</nav>